html {
  box-sizing: border-box;
  font-size: 16px;
}
p {
  font-family: "Arial", sans-serif;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400px;
  color: #333333;
}

body {
  font-family: "Arial", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Arial", sans-serif;
  font-size: 55px;
  line-height: 62px;
  font-weight: 400px;
  color: #333333;
}

ul {
  list-style: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  color: #0d0d0d;
  line-height: 22.61px;
}

.header-container {
  display: flex;
  width: 100%;
  /* padding-top: 58px; */
  /* padding-left: 347px;
  padding-right: 348px;
  padding-bottom: 256px; */
  align-items: center;
}

.header-subtitle {
  font-size: 55px;
  line-height: 62px;
  font-weight: 200px;
  color: #7e5fff;
  margin-top: 16px;
}
.header-img {
  display: block;
  width: 62px;
}
.nav {
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 16px;
  align-items: center;
  gap: 20px;
  align-self: center;
  flex-grow: 1;
}
.center {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 256px;
}

.first_text {
  margin-top: 114px;
}
a {
  text-decoration: none;
  color: #0d0d0d;
}

.black-line {
  background-color: #0d0d0d;
  height: 474px;
  /* width: 1280px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white-txt1 {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

.white-txt2 {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

.classic-txt {
  text-align: left;
}

.regular-title {
  font-size: 58px;
  line-height: 62.3px;
}

.regular-description {
  font-size: 18px;
  margin-top: 32px;
  line-height: 30px;
}

.regular-learn {
  font-size: 16px;
  margin-top: 36px;
  line-height: 22.61px;
}

.grey-back {
  display: flex;
  background-color: #f3f3f3;
  height: 858px;
  /* width: 1280px; */
  padding-top: 195px;
  padding-left: 88px;
  padding-right: 58px;
  padding-bottom: 203px;
}

.white-back {
  display: flex;
  background-color: #ffffff;
  height: 766px;
  /* width: 1280px; */
  padding-top: 195px;
  padding-left: 88px;
  padding-right: 58px;
  padding-bottom: 203px;
}
.black-back {
  display: flex;
  background-color: #0d0d0d;
  height: 1239px;
  /* width: 1280px; */
  padding-top: 160px;
  padding-left: 43px;
  padding-right: 43px;
  padding-bottom: 160px;
}

.white-title {
  font-size: 58px;
  color: #ffffff;
  text-align: center;
  padding-left: 251px;
  padding-top: 160px;
}

.big_img {
  display: block;

  padding-top: 117px;
  padding-right: 58px;
}

.partners {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
