html {
  box-sizing: border-box;
  font-size: 16px;
}
p {
  font-family: "Arial", sans-serif;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400px;
  color: #333333;
}

body {
  font-family: "Arial", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Arial", sans-serif;
  font-size: 55px;
  line-height: 62px;
  font-weight: 400px;
  color: #333333;
}

ul {
  list-style: none;
  font-family: "Arial", sans-serif;
  font-size: 23px;
  font-weight: 400px;
  color: #0d0d0d;
  line-height: 38.34px;
  padding: 0px;
}
li {
  list-style: none;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400px;
  color: #0d0d0d;
  line-height: 20.99px;
}

.header-container {
  display: flex;
  width: 100%;

  align-items: center;
}

.header-subtitle {
  font-size: 55px;
  line-height: 62px;
  font-weight: 200px;
  color: #7e5fff;
  margin-top: 16px;
}
.header-img {
  display: block;
  width: 62px;
}
.nav {
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 16px;
  align-items: center;
  gap: 20px;
  align-self: center;
  flex-grow: 1;
}
.center {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 256px;
}

.first_text {
  margin-top: 114px;
}
a {
  text-decoration: none;
  color: #0d0d0d;
}

.black-line {
  background-color: #0d0d0d;
  height: 474px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white-txt1 {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

.white-txt2 {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

.classic-txt {
  text-align: left;
}

.regular-title {
  font-size: 58px;
  line-height: 62.3px;
}

.regular-description {
  font-size: 18px;
  margin-top: 32px;
  line-height: 30px;
}

.regular-learn {
  font-size: 16px;
  margin-top: 36px;
  line-height: 22.61px;
}

.grey-back {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f3f3f3;
  height: 858px;
  padding-top: 195px;
  padding-left: 88px;
  padding-right: 58px;
  padding-bottom: 203px;
}

.white-back {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #ffffff;
  height: 766px;
  padding-top: 195px;
  padding-left: 88px;
  padding-right: 58px;
  padding-bottom: 203px;
}
.black-back {
  background-color: #0d0d0d;
  height: 1239px;
  padding-top: 160px;
  padding-left: 43px;
  padding-right: 43px;
  padding-bottom: 160px;
}

.white-title {
  font-size: 58px;
  color: #ffffff;
  text-align: center;
}

.big_img {
  display: block;

  padding-top: 117px;
  padding-right: 58px;
}

.partners {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.img-P {
  text-align: center;
}

.blue-back {
  background-color: #4e5eff;
  height: 757px;
  padding-top: 150px;
  padding-left: 165px;
  padding-right: 171px;
  padding-bottom: 164px;
  display: flex;
  flex-direction: column;
  text-align: left;

  width: 100%;
  height: 100%;
}

.magic_product {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-self: center;
}
.albert {
  color: #ffffff;
  font-size: 24px;
}

.magic {
  font-size: 42px;
  color: #ffffff;
}

.director {
  color: #ffffff;
  font-size: 16px;
}

.color-6x {
  color: black;
}

.black-line-2 {
  background-color: #0d0d0d;
  height: 362px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.give_demo {
  font-size: 39px;
  color: #ffffff;
}

.button {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 17px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.final {
  background-color: #ffffff;
  height: 559px;
  padding-top: 84px;
  padding-left: 43px;
  padding-right: 43px;
  padding-bottom: 99px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.final-img {
  display: block;
  width: 60px;
}

.para_block {
  display: block;
  width: 62px;
}

.last_text {
  font-size: 15px;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
  width: 100%;
  gap: 120px;
  flex-grow: 1;
  margin-top: 160px;
}

.final_nav {
  display: flex;

  height: 100%;
  justify-content: flex-end;
  height: 100%;
  font-size: 16px;
  align-items: baseline;
  gap: 60px;
  align-self: baseline;
  flex-grow: 1;
}
.logo_navi {
  display: flex;
  width: 100%;

  align-items: center;
}

.blocks {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.hight_volume {
  font-size: 24px;
  color: #ffffff;
}

.low_volume {
  font-size: 16px;
  color: #ffffff;
}

.cubic {
  display: block;
  width: 62px;
}

.cub_i_txt {
  display: flex;
  align-self: center;
  align-items: center;
}

.box {
  background-color: #242424;
  width: 386px;
  height: 319px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 50px;
  flex-direction: column;
}
